[
{ "userid": "ingydotnet"
, "name": "Ingy döt Net"
, "email": "ingy@ingy.net"
, "twitter": "ingydotnet"
, "homepage": "http://ingy.net/"
, "freenode": "ingy"
, "gravatar": "8b3bd89d842c858bea279637e34b4382"
, "join": "13 April, 2014"
},
{ "userid": "aocole"
, "name": "Andrew Cole"
, "email": "ingy@ingy.net"
, "twitter": "aocole"
, "freenode": "aocole"
, "join": "13 April, 2014"
}]
